/*hy*/

header img{
    border-radius: 50%;
    height: 10%;
    width: 10%;
    
}

header h1{
    text-align: center;
    margin-left: 40%;
    margin-right: 38%;
    margin-bottom: 4%;
    text-decoration: underline;
    color: #AEC3B0;;
    font-size: 45px;
    font-family:'Times New Roman', Times, serif;
}
.HOTELES_DESTACADOS 


header li a{
    list-style: none;
    color: black;
    text-decoration: none;
    float: left;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 0.5%;
    background-color: #598392;
    border-radius: 10px;
}

header ul{
    list-style: none;
}

header{
    background-color: #124559;
    background-size: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 0.5%;
    margin: 0%;
    display: inline-block;

}

header img, header h1, header a{

    display: inline-block;

}

body{
    background-color: #AEC3B0;
}

 main{
    padding-bottom: 4%;
}



.INDEX main h2, .HOTELES_DESTACADOS main h2{
    clear: both;
    text-align: center;
    text-decoration: underline;
    background-color: #598392;
    width: 13%;
    margin-left: 43.5%;
    padding: 0.5%;
    border-radius: 15px;
}

.INDEX main div, .HOTELES_DESTACADOS main div{
    width: 23%;
    height: auto;
    float: left;
    margin-left: 1.5%;
    margin-bottom: 1%;
    border: 3px solid black;
    border-radius: 40px;
    background-color: #598392;
}


.PAQUETES main h2{
    clear: both;
    text-align: center;
    text-decoration: underline;
    width: 13%;
    margin-left: 43.5%;
    padding: 0.5%;
    border-radius: 15px;
}

.PAQUETES main 
{
    width: 23%;
    height: auto;

}
.PAQUETES main div img{
    width: 100%;
    height: 30%;
    border-radius: 40px;
}
.PAQUETES main article
{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1%;
    font-weight: bold;
    font-size: 20px;
}

.INDEX main div img, .HOTELES_DESTACADOS main div img{
    width: 100%;
    height: 30%;
    border-radius: 40px;
}



.HOTELES div{
    width: 48%;
    height: auto;
    float: left;
    margin-left: 1%;
    border: 3px solid black;
}



footer{
    margin-top: 40%;
    height: 10%;
   padding: 2%;
    background-color: #124559;
    border-radius: 40px;
    
    
}

.OFERTAS{
    text-align: center;
    padding-bottom: 0.5%;
    
}

.REDES{
    text-align: right;
    padding-right: 0.5%;
    font-weight: bold;
}

.REDES ul{
    list-style: none;
    height: 60%;
}

footer div{
    width: 30.5%;
    height: 60%;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 1%;
    padding-left: 0.5% ;
    display: inline-table;
     background-color: #598392;
     
}

footer ul li a{
    text-decoration: none;
    color: black;
}

.OPCIONES{
    background-color: #AEC3B0;
}

.OPCIONES main h2{
    clear: both;
    text-align: center;
    text-decoration: underline;
    background-color: #598392;
    width: 13%;
    margin-left: 43.5%;
    padding: 0.5%;
    border-radius: 15px;
    padding-bottom: 1%;

}

.OPCIONES main div {
    width: 23%;
    height: auto;
    float: left;
    margin-left: 1.5%;
    margin-bottom: 1%;
    border: 3px solid black;
    border-radius: 40px;
    background-color: #598392;
    
}

.OPCIONES main div p, main div h3{
    text-align: center;
}

.OPCIONES main div img{
    width: 100%;
    height: 30%;
    border-radius: 40px;
}

/*Tato, si podes resolver que los div del footer queden a la misma altura te amaria, ya no se que mas hacer*/